body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.horse-logo{
    margin-left: 15px;
    font-size: 3rem;
}
.homepage-icons{
    font-size: 1.5rem;
    color: #8a8a8a;
}