.home {
    display: flex;
    justify-content: space-around;
}

.homepage-imgs {
    height: 10em;
    object-fit: contain;
    margin-top: 10em;
}

.homepage-imgs:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}