.mail-compose {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    width: 60vw;
    height: 50vh;
    background-color: white;
    z-index: 1;
    margin: 0 5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.compose-header {
    background-color: rgb(242, 246, 252);
    display: flex;
    justify-content: space-between;
    min-height: 3em;
    align-items: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.compose-header button {
    width: 2em;
    height: 2em;
    margin-inline-end: 0.5em;
    border: none;
    background-color: rgb(242, 246, 252);
    transition: .5s;
}

.compose-header button:hover {
    cursor: pointer;
    background-color: rgb(222, 226, 232);
}

.compose-header h2 {
    margin-inline-start: 0.5em;
}


.compose-form {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    width: 90%;
    align-self: center;
}

.compose-form:focus,
textarea:focus {
    outline: none;
}


hr {
    background-color: lightgrey;
    height: 1px;
    border: none;
    width: 90%;
}

.compose-txt {
    align-self: center;
    min-height: 35vh;
    max-height: 35vh;
    min-width: 90%;
    max-width: 90%;
    border: none;
    outline: none;
    resize: none;
}

.compose-form button {
    position: absolute;
    bottom: .3em;
    right: .3em;
    background-color: rgb(11, 87, 193);
    color: white;
    width: 5em;
    height: 2em;
    border-radius: 10em;
    font-size: 1em;
    border: none;
}

.compose-form button:hover {
    cursor: pointer;

}