.mail-preview {
    padding: 1em;
    max-height: 2em;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 1fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "star from title date txt";
}

.mail-preview h2,
.mail-preview h3,
.mail-preview p {
    font-family: Arial, Helvetica, sans-serif;
}

.mail-title {
    grid-area: title;

}

.mail-from {
    grid-area: from;
}

.mail-txt {
    grid-area: txt;
    overflow: hidden;
}

.mail-date {
    grid-area: date;
}

.mail-mark-btn {
    grid-area: star;
}

.mail-select-btn,
.mail-remove-btn {
    display: none;
}

/* .mail-li:hover .mail-mark-btn, */
.mail-li:hover .mail-remove-btn,
.mail-li:hover .mail-select-btn {
    display: block;
    position: absolute;
    right: 0;

}

/* .mail-li:hover .mail-mark-btn{
    margin-right: 13em;
} */
.mail-li:hover .mail-remove-btn {
    margin-right: 9em;
}

.mail-li:hover .mail-select-btn {
    margin-right: 5em;
}



li:hover {
    width: 100vw;
} */



.mail-preview.active {
    max-height: 8em;
    background-color: rgb(242, 246, 252);

    grid-template-columns: 0.1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas:
        "star from  title date"
        "txt txt txt txt"
    ;

}

.read h2,
.read h3,
.read p {
    font-weight: 500;
    color: rgb(32, 33, 36);
}

.read {
    background-color: rgb(242, 246, 252);

}

.mail-preview:hover .mail-date {
    display: none;
}

.note-add-img {
    width: 50;
}


@media(max-width: 600px) {


    .mail-li:hover .mail-remove-btn {
        margin-right: 14.2em;
    }
    
    .mail-li:hover .mail-select-btn {
        margin-right: 8.7em;
    }


    .mail-preview:hover .mail-date {
        display: inline;
        margin-inline-start: 1em;
    }

    .mail-mark-btn,
    .mail-select-btn,
    .mail-remove-btn {
        display: inline;
        padding: 0;
        line-height: auto;
    }

    .mail-select-btn {
        grid-area: select-btn;
    }

    .mail-remove-btn {
        grid-area: remove-btn;
    }

    .mail-title {
        grid-area: title;
        max-width: 7em;
        overflow: hidden;
        font-size: 1em;
        padding-top: 0.3em;
    }

    .mail-from {
        grid-area: from;
        min-width: 5em;
        overflow: hidden;
        font-size: 1em;
        padding-top: 0.3em;
    }

    .mail-txt {
        grid-area: txt;
        overflow: hidden;
    }

    .mail-date {
        grid-area: date;
        font-size: 1em;
        padding-top: 0.3em;
    }


    .mail-preview {
        line-height: 2em;
        max-height: 2em;
        gap: 0.2em;
        grid-template-columns: 0.2fr 1fr 2fr .5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "star from title date remove-btn select-btn txt";
    }


    .mail-preview.active {
        max-height: 10em;
        gap: 0.2em;
        grid-template-columns: 0.2fr 1fr 0.1fr 0.1fr;
        grid-template-rows: 0.5fr 0.5fr 2fr;
        grid-template-areas:
            "star from remove-btn select-btn"
            "title title . date"
            "txt txt txt txt";
    }





    /* .mail-li:hover .mail-mark-btn{
        margin-right: 9em;
    }
    .mail-li:hover .mail-remove-btn{
        margin-right: 6em;
    }
    .mail-li:hover .mail-select-btn{
        margin-right: 3em;
    } */


}