.mail-li:hover {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-self: center;
}


ul.mail-list{
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    height: 3em;
    width: 3em;
}


button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 50%;
}



.mail-li {}

.mail-remove-btn {}

.mail-select-btn {}