.send-btn {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 10em;
    height: 4em;
    border-radius: 1em;
    font-weight: 600;
    transition: .3s;
    background-color: rgb(194, 231, 255);
}

.send-btn:hover {
cursor: pointer;
border-radius: 1em;
background-color: rgb(194, 231, 255);
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fa-solid.fa-pen.new-mail{
font-size: 1.2em;
margin-inline-start: .5em;
}