.mail-details {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
}

.mail-details-back-btn {}

.mail-details-title {
    font-size: 2em;
}

.icon-big {
    font-size: 2em;
    color: rgb(160, 195, 255);
}

.mail-details-from {
    font-size: 1.2em;
}

.mail-details-date {
    font-size: 0.6em;
    font-weight: 500;
}

.mail-details-txt {
    font-size: 1.2em;
    max-width: 70%;
}

.mail-details-img {
    height: 50vh;
    object-fit: contain;
}

.mail-details-remove-btn {}

.mail-details-next-btn {}