.note-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-auto-rows: auto; */
  grid-auto-flow: dense;
  gap: 10px;
  padding: 60px;
  width: auto;
  margin: 0 auto;
  /* border: 1px solid pink; */
}
li{
  list-style-type: none;

}
.note-preview{
border: 1px solid rgb(241, 240, 240);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 13px;
}

.note-preview img {
  width: 100%;
}
.note-preview:nth-child(4n){
  grid-column: span 2;
  grid-row: span 2;
}
/* .note-preview:nth-child(6n + 1){
  grid-column: span 3;
  grid-row: span 3;
} */