.user-msg {
    position: fixed;
    bottom: 2em;
    left: 2em;
    height: 3em;
    border-radius: 10em;
    font-size: 1em;
    z-index: 333;
    color: white;
    line-height: 3em;
    width: 12em;
}

.user-msg.success {
    background-color: rgb(11, 87, 193);;
    color: white;
}

.user-msg.error {
    background-color: rgb(255, 35, 68);
    color: white;
}


.user-msg button{
    background-color: rgb(11, 87, 193);
    color: white;
    border: none;
    float: left;
    margin: 1em;
}